/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

.wp-block-embed {
    border-top: solid 1px theme-color('light');
    border-bottom: solid 1px theme-color('light');
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-flow: column;
    padding-top: 1rem;
    padding-bottom: 1rem;

    figcaption {
        margin-bottom: 0;
        font-size: 0.75rem;
    }

    + .wp-block-embed {
        padding-top: 0;
        border-top: none;
    }
}

.wp-block-button {
    margin-bottom: 0.75rem;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wp-block-cover {
    margin-bottom: 1rem;
    &.aligncenter {
        margin-bottom: 1rem;
    }
    
    &.has-background-dim {
        color: $white;
    }
}

.wp-block-search {
    margin-bottom: 1rem;

    & &__label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    & &__input {
        border: solid 1px;
        border-color: theme-color('dark');
        border-radius: 0.25rem;
        outline: none;
        padding: 0.5rem 1rem;
        max-width: calc(100% - 224px);
        max-width: none;

        &:focus {
            border-color: theme-color('info');
        }
    }

    & &__button {
        border: solid 1px theme-color('info');
        background: theme-color('info');
        color: theme-color('light');
        border-radius: 0.25rem;
        width: 224px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        color: theme-color('primary');
        transition: color ease 0.3s;

        &:hover {
            color: theme-color('danger');
        }
    }
}

a {
    transition: color ease 0.3s;
    color: theme-color('primary');
    &:hover {
        color: theme-color('danger');
        text-decoration: none;
    }
}

.widget {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
    
    .widget-title,
    .widgettitle {
        font-size: 1.75rem;

        &::after {
            content: '';
            width: 3rem;
            height: 0.25rem;
            background: theme-color('primary');
            display: block;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }
    > ul {
        list-style: none;
        padding-left: 0;

        > li {
            margin-bottom: 0.5rem;
            padding-bottom: 0.5rem;
            border-bottom: solid 1px theme-color('light');

            &:last-child {
                border-bottom: none;
            }
        }
    }
}