#masthead {
    &.front-page {
        position: relative;
        height: 500px;
        background-color: theme-color('dark');
        overflow: hidden;
    }

    &.front-page::before {
        content: "";
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-image: linear-gradient(245.85deg, rgba(68, 25, 126, 0.5) 30.54%, rgba(156, 111, 216, 0.5) 98.01%),linear-gradient(rgba(0, 0, 0, 0.5) 0%, transparent 30%);
    }

    .navbar {
        &-wrapper {
            background-color: transparent;
            position: relative;

            &.mono,
            &.compact {
                background-color: theme-color('dark');
            }

            &.mono::before,
            &.compact::before {
                content: "";
                position: absolute; 
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
                background-image: linear-gradient(245.85deg, rgba(68, 25, 126, 0.5) 30.54%, rgba(156, 111, 216, 0.5) 98.01%),linear-gradient(rgba(0, 0, 0, 0.5) 0%, transparent 30%);
            }
        }

        &-brand {
            img {
                width: 200px;
                height: auto;
            }
        }

        .form-inline {
            .form-control {
                width: calc(100% - 40px - 0.5rem);
                margin-right: 0.5rem;
            }
            .btn {
                width: 40px;
            }
        }
    }

    .logged-in & .navbar-wrapper {
        margin-top: 46px;
        @media screen and (min-width: 783px) {
            margin-top: 32px;
        }
    }

    .jumbotron {
        position: absolute;
        height: 100%;
        width: 100%;
        padding-top: 66px;
    }
}

#wpadminbar {
    position: fixed;
}

#primary {
    .page-header {
        padding-top: 3rem;
        padding-bottom: 3rem;
        background-color: theme-color('light');
        @include media-breakpoint-up(lg) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        .page-title {
            color: theme-color('dark');
            margin-bottom: 0;
            margin-top: 1rem;
            margin-bottom: 1rem;

            &::after {
                content: '';
                width: 3rem;
                height: 0.25rem;
                background: theme-color('primary');
                display: block;
                margin-top: 1rem;
            }
        }

        .archive-description {
            & p:last-child {
                margin-bottom: 0;
            }
        }
    }

    .archive &,
    .single &,
    .search &,
    .page &,
    .error404 & {
        margin-top: 66px;
    }

    .pagination {

        margin-bottom: 2rem;
        padding-bottom: 3rem;
        border-bottom: solid 1px theme-color('light');
        @include media-breakpoint-up(md) {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        .nav-links {
            width: 100%;

            justify-content: flex-start;

            > a,
            > span {
                margin-right: 1rem;
            }
        }
    }
}

#colophon {
    position: relative;
    background-color: theme-color('dark');
    height: 100px;
    &::before {
        content: "";
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-image: linear-gradient(245.85deg, rgba(68, 25, 126, 0.5) 30.54%, rgba(156, 111, 216, 0.5) 98.01%),linear-gradient(rgba(0, 0, 0, 0.5) 0%, transparent 30%);
    }

    .site-info {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}