.post,
.page {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: solid 1px theme-color("light");

    &:last-child {
        @include media-breakpoint-up(md) {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    &.sticky {
        background-color: theme-color("light");
        padding: 1rem;
        margin-bottom: 3rem;
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
        border: solid 1px theme-color("light");
        @include media-breakpoint-up(lg) {
            padding: 2rem;
        }
    }

    .entry-header {
        margin-bottom: 1rem;
        overflow: hidden;

        .entry-title {
            max-width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;

            &::after {
                content: '';
                width: 3rem;
                height: 0.25rem;
                background: theme-color('primary');
                display: block;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }

        .entry-meta {
            .posted-on {
                .updated + .published {
                    display: none;
                }
            }
        }
    }

    .post-thumbnail {
        margin-bottom: 1rem;
        display: block;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    .entry-content {
        .more-link {
            display: inline-block;
            text-decoration: underline;
            margin-top: 1rem;
        }
    }

    .cat-links {
        color: $white;
        margin-bottom: 0.75rem;
        a {
            background: transparent;
            color: theme-color('primary');
            text-decoration: none;
            font-style: italic;
            font-size: 0.75rem;
            padding: 0.5rem;
            display: inline-block;
            border: solid 1px;
            border-color: theme-color('primary');
            border-radius: 0.25rem;
            transition: background ease 0.3s;
            // text-transform: capitalize;

            &:hover {
                background-color: theme-color('primary');
                border-color: theme-color('primary');
                color: $white;
            }

            &.red {
                border-color: theme-color('danger');
                color: theme-color('danger');

                &:hover {
                    background-color: theme-color('danger');
                    border-color: theme-color('danger');
                    color: $white;
                }
            }

            &.yellow {
                border-color: theme-color('warning');
                color: theme-color('warning');

                &:hover {
                    background-color: theme-color('warning');
                    border-color: theme-color('warning');
                    color: $white;
                }
            }

            &.blue {
                border-color: theme-color('info');
                color: theme-color('info');

                &:hover {
                    background-color: theme-color('info');
                    border-color: theme-color('info');
                    color: $white;
                }
            }

            &.green {
                border-color: theme-color('success');
                color: theme-color('success');

                &:hover {
                    background-color: theme-color('success');
                    border-color: theme-color('light');
                    color: $white;
                }
            }
        }
    }

    .tags-links {
        margin-top: 3rem;
        font-style: italic;
        color: $gray-600;
    }

    .edit-link {
        margin-top: 3rem;
        display: inline-block;
    }
}